.pgiDiv{
    background-color: black;
    text-align: center;
}
.pgiDiv>h3{
    color: white;
    padding: 20px;
}
.setPageDiv{
    display: flex;    
    justify-content: center;
    align-items: center;

}
.setPageDiv>h2{
    padding: 20px;
    color: white;
}
.setPageDiv>button{
    padding: 5px;
    color: black;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.316);
    cursor: pointer;
}
.setPageDiv>button:hover{
    background-color: rgba(255, 255, 255, 0.679);
}
