.detailDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* min-height: 100vh; */
    height: fit-content;
    /* border: 1px solid red; */
    margin-top: 50px;
  }
  .detailCardDiv{
    width: 80%;
    display: flex;
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    padding: 20px;
  }
  .detailImgDiv{
    flex: 30%;
  }
  .detailTextDiv{
    flex: 70%;
    padding: 0px 20px;
  }
  .detailTextDiv>h3, .detailTextDiv>h1, .detailTextDiv>p{
    padding: 5px 0px;
    font-weight: lighter;
  }
  .detailTextDiv>div{
    /* padding: 10px 0px; */
    line-height: 40px;
  }
  
  .detailTextDiv>div>span{
    padding: 3px;
    background-color: rgb(223, 223, 223);
    color: black;
    border-radius: 5px;
    margin-right: 10px;
  }
  .detailDiv>p{
      width: 80%;
      font-weight: lighter;
      margin-top: 20px;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
  }
  .detailDiv>table{
      margin-top: 50px;
      width: 80%;
      background-color: rgba(255, 255, 255, 0.225);
      
  }
  .detailDiv>table>tbody>tr>td{
      padding: 10px;
      font-weight: lighter;
      border-bottom: 1px solid black;
  }
  .detailDiv>table>tbody>tr>td>span{
    font-weight: lighter;
  }
  .detailDiv>table>tbody>tr:hover{
    background-color: rgba(255, 255, 255, 0.393);
  }