.fs>select, .fs>select>option{
    color: black;
    /* font-size: 20px; */
}
.filterOptions{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.fs{
    flex: 20%;
    max-width: 20%;
}
.fs>select{
    margin-left: 20px;
}
.appBtn{
    text-align: center;
    margin: 50px 20px;
}
.appBtn>button{
    padding: 10px 20px;
    color: black;
}