.generesCon{
    padding: 20px;
}
.generesCon>h1{
    padding: 20px;
}
.generesDiv{      
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.genrsWord{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.362);
    color: black;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.genrsWord:hover{
    background-color: rgb(0, 96, 83);
}
.genrsMediaSelect{
    padding: 20px;
    color: white;
}
.genrsMediaSelect>select{
    margin-left: 20px;
    padding:10px 20px;
    background-color: rgba(255, 255, 255, 0.445);
}
.genrsMediaSelect>select>option{
    padding:10px 20px;
    /* background-color: rgba(255, 255, 255, 0.445); */
    color: black;
}
