.ssDiv {
    margin: 20px 10px;
}

.ssDiv>h1 {
    text-align: center;
}

.ssCon {

    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.ssCard {
    border-radius: 30px;
    overflow: hidden;
}

.anim {
    animation-name: cardAnimation;
    animation-duration: 5s;
}

@keyframes cardAnimation {
    0% {
        transform: rotateY(90deg);
    }
    20% {
        transform: rotateY(0deg);
    }
    80% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}